.search {
    display: flex; 
    justify-content: center; 
    margin-top: 50px; 
}
.searchInput{
    margin-top: 3px;
    display: flex;
}

.search input {
    background-color: white;
    border: 1px solid black; /* Add border styling */
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 15px;
    padding: 10px;
    height: 30px;
    width: 300px;
}